body {
  width: 100vw;
  overflow: hidden;
  text-align: center;
}

.main {
  width: 1150px;
  display: none;
  flex-wrap: nowrap;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main.active {
  display: flex;
}

.board-left {
  width: 800px;
}

.board-right {
  padding: 20px;
  width: 300px;
  margin-left: 50px;
}

.wait h1 {
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 25px;
  margin-top: 0;
}
.wait h3 {
  margin: 0;
  color: #444;
  font-size: 30px;
}
.wait h2 {
  font-size: 45px;
  margin: 0;
}
.wait .qr {
  margin-top: 30px;
  width: 300px;
}

.scores table {
  margin: 20px auto;
  width: 100%;
  border-collapse: collapse;
}
.scores td,
.scores th {
  border: 1px solid #ddd;
  text-align: left;
  font-size: 20px;
  padding: 14px;
}
.scores .crown {
  display: none;
  height: 22px;
  margin: 0;
  margin-left: 10px;
}
.scores tr.submitted {
  background: rgb(193, 255, 215);
}