.main-edit {
  display: flex;
  flex-wrap: nowrap;
  width: 1100px;
  height: 300px;
}

.rounds {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  padding-right: 8px;
}
.rounds .rounds-list {
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
}
.rounds .round {
  background: #eee;
  margin: 3px 0;
  padding: 8px;
  font-size: 18px;
  user-select: none;
  cursor: default;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.rounds .round p {
  flex-grow: 1;
  margin: 0;
}
.rounds .round button {
  padding: 6px;
  font-size: 15px;
  width: 32px;
  height: 32px;
  pointer-events: none;
  opacity: 0;
}
.rounds .round:first-child {
  margin-top: 0;
}
.rounds .round:hover {
  background: #ddd;
}
.rounds .round:active {
  background: #ccc;
}
.rounds .round.selected {
  background: #555;
  color: #fff;
}
.rounds .round.selected button {
  pointer-events: all;
}
.rounds .round.selected:hover button {
  opacity: 1;
}
.rounds .add-round {
  width: 100%;
  border-radius: none;
  margin-bottom: 0;
}

.board {
  width: 800px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.board .row {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.board .row span.handle {
  display: block;
  width: 40px;
  height: 40px;
  cursor: grab;
}
.board .row label {
  margin-left: 10px;
}
.board .row input {
  padding: 8px;
  font-size: 14px;
  text-align: left;
  text-transform: uppercase;
}
.board .row input.words {
  flex-grow: 1;
}
.board .row.ghost, .board .row.drag {
  background: #ddd;
}
.board .row.chosen {
  background: #aaa;
}
.board .row:not(.ghost):not(.drag):not(.chosen):nth-child(1) {
  background: #f9df6d;
}
.board .row:not(.ghost):not(.drag):not(.chosen):nth-child(2) {
  background: #a0c35a;
}
.board .row:not(.ghost):not(.drag):not(.chosen):nth-child(3) {
  background: #b0c4ef;
}
.board .row:not(.ghost):not(.drag):not(.chosen):nth-child(4) {
  background: #ba81c5;
}